$color1: #214ce8;
$color2: #052377;
$color3: #2b8afc;
$color4: #54e4f7;
$color5: #aefdff;
$color6: #dbe2f2;

body {
  overflow: hidden; /* Hide scrollbars */
}

a:focus, a:hover {
  color: $color3 !important;
}

.bg-light-custom {
  background-color: $color6 !important;
}

.navbar-brand img {
  max-width: 100px;
}

.navbar-right {
  text-align: right;
}

.nav-link {
  margin-left: 3rem;
}

.main-container {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main-content {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer-social {
  margin-top: 60px;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 36px;
}

.footer-social ul li a i {
  font-size: 24px;
  color: black;
}

.footer-social ul li a i:hover {
  color: $color1;
}

.copyright {
  margin-top: 18px;
  font-family: 'Lucida', serif;
  font-size: 12px;
  color: #232323;
}

#login_box {
  margin-top: 220px;
  height: 420px;
}

#sign_up_box {
  margin-top: 80px;
  height: 650px;
  width: 500px;
  background-color: $color6;
}

#login_box {
  margin-top: 180px;
  height: 450px;
  width: 500px;
  background-color: $color6;
}

.form {
  margin-top: 20px;
  padding: 30px;
}

.text-header {
  margin-bottom: 25px;
  color: $color3;
}

.text-info:focus, .text-info:hover {
  text-decoration: none;
}

.btn-custom {
  background: $color3;
  border-color: $color3;
  width: 150px;
  border-radius: 20px;
}

.btn-custom:focus, .btn-custom:hover {
  color: white;
  border-color: $color3;
  background: $color1;
}

.form-actions {
  margin-top: 45px;
  text-align: center;
}

#id_link_wrapper {
  width: 100%;
  margin: auto;
}

.text-info {
  color: $color1 !important;
}

.no-found {
   margin-top: 150px;
   text-align: center;
}

.card {
  width: 16rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: $color6;
  margin: 0 auto;
  float: none;
  height: 90%;
}

.results-container {
  margin: 30px 0;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.book-container {
  margin: 70px 20px;
  text-align: center;
}

.book-container h1 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 400;
}

.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  /* padding:0 .1em; */
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:300%;
  /* line-height:1.2; */
  color:#ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: $color3;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: $color3;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: $color3;
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.image-wrapper img {
    border: 0px solid #c0c0c0;
    border-radius: 50%;
}

#submit_review {
  display: none;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
