{% extends "base.html" %}

{% block nav %}
<div class="collapse navbar-collapse" id="custom_navbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="id_profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
            <div class="dropdown-menu" aria-labelledby="id_profile">
                <a class="dropdown-item" href="#">Hello, {{ session.username }}!</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search')}}" method="get">
        <input class="form-control mr-sm-2" type="text" name="book" id="book" autofocus placeholder="ISBN, Title or Author">
        <button class="btn btn-primary my-2 my-sm-0" type="submit" id="submit_search">Search</button>
    </form>
</div>
{% endblock nav %}